:root {

    --section-color:#826AED
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

h1{
    color: #826AED;
}

header .hiButton{
    background-color: rgb(89, 130, 221);
    border-radius: 7px;
    padding: 0.5rem 0.5rem;
    border: none;
}

.highlight{
    background-color: rgb(89, 130, 221);
    color: white;
    border: 1px solid #d2d2bf;
    margin-bottom: 5px;
}

#section1 #backGround{

    background-image: url(./icon-1379228_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section2{
    background-color: var(--section-color);
}